* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pkmn_box_color {
    background: linear-gradient(135deg, var(--type1), var(--type2, var(--type1))
    )
}

.pokemon_box_title_glow {
    text-transform: capitalize;
    color: #F8f8f8;
    text-shadow:
    0 0 6px color-mix(in srgb, var(--type1) 60%, white),
    0 0 12px color-mix(in srgb, var(--type1) 40%, transparent);
    -webkit-text-stroke: 1.2px black;
}

.grid_area>* {
    grid-area: 1/1;
}

.background_color_by_type_one {
    background-color: var(--type1, white);
}

.background_color_by_type_two {
    background-color: var(--type2, white);
}