header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 8px;
    height: 80px;
}

.header_input {
    position: relative;
    width: 250px;
}

.header_input button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_input input {
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
}