header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 8px;
    height: 80px;
}

.header_input {
    position: relative;
    width: 250px;
}

.header_input button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_input input {
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
}

.header_container {
    max-width: 1440px;
    margin-inline: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    min-height: calc(100vh - 160px);
    display: flex;
    gap: 8px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pokemon_container {
    height: 400px;
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.main_site_img_box {
    width: 100px;
}

footer {
    height: 80px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}